<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

	<Appenders>

		<RollingFile name="NormalAppender" fileName="logs/tiv-page.log"
			filePattern="logs/tiv-page-%d{yyyy-MM-dd}-%i.log.gz" append="true">
			<PatternLayout pattern="%d{ISO8601} %-5p [%t] %c:%L %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>

		<RollingFile name="AuthAppender" fileName="logs/tiv-page-auth.log"
			filePattern="logs/tiv-page-auth-%d{yyyy-MM-dd}-%i.log.gz" append="true">
			<PatternLayout pattern="%d{ISO8601} %-5p [%t] %c:%L %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>

	</Appenders>

	<Loggers>

		<Logger name="de.tivsource" level="trace" additivity="false">
			<AppenderRef ref="NormalAppender" />
		</Logger>

		<Logger name="de.nethold" level="trace" additivity="false">
			<AppenderRef ref="NormalAppender" />
		</Logger>

		<Logger name="com.opensymphony.xwork2.util.OgnlUtil" level="warn" additivity="false">
			<AppenderRef ref="NormalAppender" />
		</Logger>

		<Logger name="com.opensymphony" level="warn" additivity="false">
			<AppenderRef ref="NormalAppender" />
		</Logger>

		<Logger name="freemarker" level="warn" additivity="false">
			<AppenderRef ref="NormalAppender" />
		</Logger>

		<Logger name="org.apache.struts2" level="warn" additivity="false">
			<AppenderRef ref="NormalAppender" />
		</Logger>

		<Logger name="org.apache.tiles" level="warn">
			<AppenderRef ref="NormalAppender" />
		</Logger>

		<Logger name="org.apache.commons" level="warn">
			<AppenderRef ref="NormalAppender" />
		</Logger>

		<Logger name="org.hibernate" level="warn">
			<AppenderRef ref="NormalAppender" />
		</Logger>

		<Logger name="org.hibernate.SQL" level="warn">
			<AppenderRef ref="NormalAppender" />
		</Logger>

		<Logger name="com.mchange" level="warn">
			<AppenderRef ref="NormalAppender" />
		</Logger>

		<Logger name="org.apache.struts2.convention" level="warn">
			<AppenderRef ref="NormalAppender" />
		</Logger>

		<Logger name="org.apache.struts2.json.JSONWriter" level="error">
			<AppenderRef ref="NormalAppender" />
		</Logger>

		<Logger name="AuthLogger" level="info">
			<AppenderRef ref="AuthAppender" />
		</Logger>

		<Root level="warn">
			<AppenderRef ref="NormalAppender" />
		</Root>

	</Loggers>

</Configuration>
