body {
	overflow-y: scroll;
}

.top {
	height: 20px;
	width:100%;
}

.language {
	float: left;
	height: 20px;
	width:50%;
}

.languageitem {
	float: left;
	height: 20px;
	padding-left: 7px;
	padding-right: 7px;
}

.topnav {
	float: left;
	height: 20px;
	width: 50%;
}

.topnavitem {
	float: right;
	height: 20px;
	padding-left: 7px;
	padding-right: 7px;
}

.header {
	border: 1px black solid;
	height: 100px;
	width: 100%;
}

.nav {
	height: 20px;
	width: 100%;
}

.navitem {
	float: left;
	height: 20px;
	padding-left: 7px;
	padding-right: 7px;
}
