@charset "utf-8";
/* CSS Document */



*{
	margin:0;
	padding:0;
}



body {
	font-family:Georgia, Arial, futura, Helvetica, sans-serif;
	font-size:15px;
	background-image: url();
	background-color:rgba(220,220,220,1);
}

h1 {
	clear: both;
	padding:15px;
}

h2 {
	padding:10px 15px;
}

h3 {
	padding:10px 15px;
}

h4 {
	padding:10px 15px;
	font-size: 20px;
	color: #343333;
}

h5 {
	margin-top: 30px;	
	padding:10px 15px;
	color: #343333;
}

h6 {
	padding:20px 15px;
	font-size: 15px;
}


p {
	padding: 3px 15px;
	font-style: normal;
	text-align: left;	
}


ul {
	list-style:none;
}

ul li a {
	display: block;
}

img {
	height:auto;
	width: 100%;
}

a {
	display:block;
	text-decoration:none;
	outline: none;
}

hr {
	clear: both;
	margin: 30px;
	color: rgba(128,128,0,0.2);
}


strong {
	color: #333333;
}

b {
	color: #333333;
}

#container {
	position: relative;
	width:73%;
	height:auto;
	margin:2.5% auto;
	padding:2%;
	padding-top: 0.1%;
	background-color:whitesmoke;
}

#content {
	min-height:550px;
	padding-bottom: 40px;
	border-bottom: 0.1px solid #dcdcdc;
	background-color:rgba(255,255,255,1);
	z-index: 1;
}

/*Logo*/
#logo {
	clear: both;
	position: relative;
	height: 130px;
	margin-top:30px;
	margin-bottom:20px;
	border-top: 0.1px solid #dcdcdc;
	border-bottom: 0.1px solid #dcdcdc;
	background-color:rgba(220,220,220,0.3);
}

#logo img {
	position: absolute;
	height:70px;
	width: auto;
	left: 20px;
	top: 25px;
	z-index: 3;
}

/*top-navigation*/
ul#flags{
	float: left;
	height:40px;
	padding-left:5px;
}

ul#flags li {
	float: left;
	margin: 10px 2px;
	padding: 5px;
}

ul#top_navi {
	float:right;
	height:40px;
	padding-right:5px;
	font-size: 14px;
	font-weight: bold;
}

ul#top_navi li {
	float:right;
	text-align: right;
	margin: 10px 2px;
	padding:5px;
}

ul#top_navi li a {
	margin-top: 0px;
	color:#4d4d4d;
}

ul#top_navi li a:hover{
	color:#ff2a2a;
}

/*main-navigation*/
ul#main_navi {
	clear: both;
	height:50px;
	padding-left: 5px;
	margin-bottom:20px;
	font-size:16px;
	font-weight: bold;
	background-color: rgba(128,128,0,0.6);
	border-bottom: 0.1px solid #dcdcdc;
	z-index: 4;
}

ul#main_navi li {
	float:left;
	width:auto;
}

ul#main_navi li a {
	display:block;
	padding:15px;
	color:#333333;
}

ul#main_navi li a:hover {
	color:#ff2a2a;
}

ul#main_navi li.activlink1 {
	padding: 15px;
	color:#ff2a2a;
}

/*bottom-navigation*/
ul#bottom_navi {
	clear: both;
	position: relative;
	height: 30px;
	padding-right:5px;
	font-weight: bold;
}

ul#bottom_navi li {
	float:right;
	text-align: right;
	height:20px;
	margin: 5px 5px;
}

ul#bottom_navi li a {
	color:#4d4d4d;
}

ul#bottom_navi li a:hover{
	color:#ff2a2a;
}

/*top_navi + bottom_navi*/

li.activlink3 {
	color:#ff2a2a;
}


/*sub-navi bei mobilen (engen) Formaten*/
div#mobile_navi {
	position: relative;
	z-index: 5;
	margin-bottom:20px;
}

div#mobile_navi label {
	display: none;
	height: 40px;
	background-color:rgba(128,128,0,0.7);
}

div#mobile_navi label img {
	position: absolute;
	right: 30px;
	width: 30px;
	margin-top:10px;
	z-index: 7;
}

.fl {
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	font-weight: bold;
	color: #1a1a1a;
}

#checkbox {
	position: fixed;
	top: 10px;
	opacity: 0;
}

#checkbox:checked + ul.mobile_sub {
	display: none;
}

div#mobile_navi ul.mobile_sub {
	display:none;
	position: absolute;
	width:100%;
	margin-bottom: 20px;
	background-color:rgba(255,255,255,1);
	z-index: 9;
}

div#mobile_navi ul.mobile_sub li {
	border-bottom: 1px solid #333333;
	background-color:rgba(128,128,0,0.2);
}

.bordertop {
	border-top: 1px solid #333333;
}

div#mobile_navi ul.mobile_sub li a {
	height:28px;
	padding-top: 12px;
	text-indent: 20px;
	font-size:14px;
	font-weight: bold;
	color:#333333;
	background-color:rgba(128,128,0,0.6);
}

div#mobile_navi ul.mobile_sub li a:hover {
	color:#800080;
	background-color:rgba(128,128,0,0.3);
}

ul.mobile_sub li.activlink2 {
	height: 28px;
	text-indent: 20px;
	padding-top: 12px;
	font-weight: bold;
	color:#800080;
	background-color:#333333;
}


@media only screen and (max-width: 1200px) {
	
	#container {
		width:85%;
	}
	
}

@media only screen and (max-width: 768px) {
	
	#container {
		width:93%;
	}
	
	table img {
		padding-top: 0px;
		height:auto;
		width:200px;
	}
		
	div#mobile_navi label {
		display:block;
	}
	
	#checkbox:checked + ul.mobile_sub {
		display: block;
	}

	ul#top_navi {
		display:none;
	}	
	
	ul#main_navi {
		display: none;
	}
	
	ul#bottom_navi {
		display: none;
	}
}


@media only screen and (max-width: 580px) {
	
	table img {
		height:auto;
		width:100px;
	}
	
	#logo img.second {
		height:18px;
		left: 20px;
		top: 100px;
	}
	
	tr, th, td {
		padding: 2%;
	}

}

@media only screen and (max-width: 320px) {
	
	table img {
		height:auto;
		width:100px;
	}

}


















