@charset "utf-8";
/* CSS Document */

/*Features*/
div#features {
	margin-bottom: 30px;
}

div#features h5, p {
	clear: both;
}

div#features img {
	float: left;
	height: auto;
	width: 31.3%;
	margin: 1%;
	margin-top:20px;
}

div#features img.distance {
	margin-bottom: 40px;
}

/*Partner*/
#partners p {
	clear: both;
	margin-left:250px;
}

.partner {
	position: relative;
	min-height: 100px;
	margin-bottom: 70px;
}


.partner img {
	position: absolute;
	width: 200px;
	padding: 15px;
	padding-left: 0px;
}

/*Impressum*/

div #impressum img {
	vertical-align: middle;
}

/*Locations*/
div.locations {
	margin-left: auto;
	margin-right: auto;
	margin-bottom:20px;
	padding-top: 20px;
}

div.locations h5 {
	margin-top: 0px;
	padding-left: 0px;
}

div.locations hr {
	opacity: 0;
}

div.location {
	float: left;
	min-height: 260px;
	width:300px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

div#map {
	float: left;
	height: 245px;
	width: 230px;
	margin-bottom: 10px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 55px;
	padding-bottom: 10px;

}

div#map img {
	float:left;
	padding:5px;
	border: 2px solid #a9a9a9;
	background-color: #ffffff;
	z-index: 9;
}

div.open {
	float: left;
	min-height: 250px;
	width:270px;
	margin-bottom:10px;
	padding-top:10px;
	padding-left: 30px;
	padding-bottom: 10px;
}

div.open th {
	padding-bottom: 7px;
	font-size: 14px;	
	color: #343333;
}

div.open tr,td {
	padding:5px;
	padding-left: 0px;
}

div.contacts {
	float: left;
	min-height: 250px;
	width:270px;
	margin-bottom:10px;
	padding-top:10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}

div.contacts th {
	padding-bottom: 7px;
	font-size: 14px;	
	color: #343333;
}

div.contacts td {
	padding:2px 0px;
}

div.contacts img {
	height:25px;
	width:25px;
}

/*Reservation*/
div.informations {
	margin-left: auto;
	margin-right: auto;
	margin-bottom:20px;
	padding-top: 20px;
}

div.information hr {
	opacity: 0;
}

div.information {
	float:left;
	height:auto;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

div.impression {
	float: right;
	width: 270px;
	margin-top: 15px;
	margin-left: 25px;
	margin-right:35px;
	margin-bottom:35px;
}

div.impression img {
	float:right;
	max-height:246px;
	max-width:256px;
	padding:5px;
	border: 2px solid #a9a9a9;
	background-color: #ffffff;
	z-index: 9;
}


/*Contact und Event*/
.formular {
	padding-top: 15px;
}

form {
	position: relative;
	min-height:800px;
	margin-bottom: 40px;
	padding-top: 15px;
	background-color: #dcdcdc;
	border:2px solid #cdcdcd;
}

form h6 {
	margin-bottom: 20px;
}

form div.wwlbl {
	clear: both;
	height: 5px;
	width: 300px;
	margin-top: 10px;
	margin-left: 15px;
}

form div.wwctrl input {
	height: 13px;
	width:310px;
	margin-left:10px;
	margin-bottom:15px; 
	padding:2px;
}

div textarea {
	min-height: 300px;
	width:90%;
	margin-left:10px; 
	margin-bottom:30px;
}

button {
	float: left;
	height:30px;
	width: 210px;
	margin-left:15px;
	margin-bottom:20px;; 
	padding:2px;

}

form hr {
	clear: both;
	opacity: 0;
}

/*Contact*/
#wwlbl_sent_message_gender {
	height:30px;
	margin-top:5px;
	margin-bottom: -5px;
}

#wwgrp_sent_message_gender label {
	height: 20px;
	width: 40px;
	
}

#wwgrp_sent_message_gender input {
	height:10px;
	width:10px;
	margin-right:10px;
}

#wwlbl_sent_message_firstname {
}


/*Event*/
#wwctrl_reserve_reservation_gender {
	height:30px;
	margin-top:5px;

}

#wwctrl_reserve_reservation_gender label {
	height: 20px;
	width: 40px;
}

#wwctrl_reserve_reservation_gender input {
	height:10px;
	width:10px;
	margin-right:10px;
    margin-bottom: 100px;
}

#wwctrl_reserve_reservation_quantity { 
	padding-left: 15px;
}

#wwctrl_reserve_reservation_quantity select { 
	height: 30px;
	width: 70px;
	margin-bottom:5px;
}

#wwctrl_reserve_reservation_time { 
	padding-left: 15px;
	margin-bottom:25px;
}

#wwctrl_reserve_reservation_time select { 
	height: 30px;
	width: 70px;
}

/*errormessage*/

form div.wwerr {
    height: 5px;
    margin-left: 15px;
    margin-top: 10px;
	margin-bottom:15px;
    width: 300px;
    color: #ff0000;
}

#wwerr_sent_message_firstname .errorMessage {
	clear: both;
}

/*event_end*/
.event_end h6 {
	height: 20px;
	margin:15px auto;
	padding: 10px auto;
	font-size: 20px;
	color: #ff0000;
	border:5px solid #cdcdcd;
	background-color: #dcdcdc;
}

/*colors*/
.color1 {
	background-color: #cdcdcd;
}

.color2 {
	background-color:#dcdcdc;
}

.color3 {
	background-color:rgba(255,0,0,0.7);
}

.color4 {
	background-color:rgba(255,165,0,0.8);
}


@media only screen and (max-width: 1700px) {
	
	/*Locations*/
	div.location {
		width:270px;
	}
	
	div#map {
		width: 220px;
	}

	div#map img {
		width: 230px;
	}
	
	div.open {	
		width:245px;
	}
	

	div.contacts {	
		width:240px;
	}

}

@media only screen and (max-width: 1600px) {
	
	/*Locations*/
	div.location {
		width:260px;
	}
	
	div#map {
		width: 230px;
	}
	
	div.open {	
		width:230px;
	}
	
	div.contacts {	
		width:230px;
	}	

}

@media only screen and (max-width: 1500px) {
	
	/*Locations*/
	div.location {
		width:240px;
	}
	
	div#map {
		width: 210px;
	}
	
	div.open {	
		width:230px;
	}
	
	div.contacts {	
		width:230px;
	}

}

@media only screen and (max-width: 1450px) {
	
	/*Locations*/
	div.location {
		width:220px;
	}
	
	div#map {
		width: 200px;
	}
	
	div.open {	

		width:225px;
	}
	
	div.contacts {	
		width:220px;
	}

}

@media only screen and (max-width: 1400px) {
	
	/*Locations*/
	div.location {
		width:200px;
	}
	
	div#map {
		width: 190px;
		padding-right:45px;
	}

	div#map img {
		width: 220px;
	}
	
	div.open {	
		width:215px;
	}
	
	div.contacts {	
		width:210px;
	}	
	
}

@media only screen and (max-width: 1320px) {
	
	/*Locations*/
	div.location {
		width:190px;
	}
	
	div#map {
		width: 180px;
	}
	
	div.open {	
		width:215px;
	}
	
	div.contacts {	
		width:210px;
	}
}

@media only screen and (max-width: 1290px) {
	
	/*Locations*/
	div.location {
		width:330px;
	}

	
	div#map {
		width: 280px;
		padding-right:15px;
	}

	div#map img {
		width: 250px;
	}
	
	div.open {	
		clear: both;
		float: left;
		width:310px;
		padding-left:20px;
	}
	
	div.contacts {	
		width:320px;
	}
}


@media only screen and (max-width: 1100px) {

	/*Reservation*/
	div.information {
		width: 500px;
	}

}


@media only screen and (max-width: 1000px) {

	/*Reservation*/
	div.information {
		width: 400px;
	}

}


@media only screen and (max-width: 900px) {

	/*Reservation*/
	div.information {
		width: 350px;
	}

}


@media only screen and (max-width:820px) {

	/*Locations*/
	div.location {
		width:300px;
	}
	
	div#map {
		width: 260px;
	}
	
	div.open {	
		width:280px;

	}

	div.contacts {
		width:300px;
	}

	/*Reservation*/
	div.information {
		width:280px;
	}

}

@media only screen and (max-width: 768px) {
		
	/*Contact*/
	div textarea {
		width:95%;
	}

}


@media only screen and (max-width: 700px) {
	
	/*Locations*/
	div.location {
		width:300px;
	}
	
	
	div#map {
		width: 230px;
	}
	
	div.open {	
		width:280px;
	}

	
	div.contacts {
		width:270px;
	}
		
	/*Reservation*/
	div.information {
		width:auto;
	}

	div.impression {
		float:left;
		margin-left: 15px;
		margin-right:35px;
	}
	
	button {
	width:180px;
	}
	
}
	

@media only screen and (max-width: 660px) {
		
	/*Locations*/
	div.location {
		width:270px;
	
	}
	
	div#map {
		width: 220px;
	}
	
	div.open {	
		width:250px;
	}
	
	div.contacts {
		width:260px;
	}
	
}

@media only screen and (max-width: 640px) {
	
	/*Locations*/
	div.location {
		width:270px;
	}
	
	div#map {
		width: 200px;
	}
	
	div#map img {
		width: 220px;
	}
	
	div.open {	
		width:250px;
	}

	
	div.contacts {
		width:240px;
	}
	
	button {
	width:160px;
	}
}

@media only screen and (max-width: 618px) {
	
	/*Locations*/
	div.location {
		width:250px;
	}
	
	div#map {
		width: 200px;
	}
	div.open {	
		width:230px;
	}
	
	div.contacts {
		width:240px;
	}
			
	/*Contact*/
	div textarea {
		width:90%;
	}
	
	button {
	width:200px;
	}
}

@media only screen and (max-width: 580px) {

	
	/*Locations*/
	div.location {
		min-height:100px;
		width:400px;
		margin-bottom: 5px;
	}
	
	div#map {
		width:330px;
		margin-bottom: 5px;
	}
	
	div#map img {
		width:250px;
	}
	
	div.open {
		width:380px;
		margin-bottom: 5px;
	}
	
	div.contacts {
		width:370px;
		margin-bottom: 5px;
	}
		
	/*Contact*/	
	form div.wwctrl input {
		width:85%;
	}
	
	button {
		height:35px;
		width:210px;
	}
}

@media only screen and (max-width: 450px) {
			
	/*Locations*/
	div.location {
		width:280px;
	}
	
	div#map {
		clear: both;
		height: auto;
		width:90%;
		margin-right:2.5%;
	}

	div#map img {
		width:80%;
	}
	
	div.open {
		width:260px;
	}
	
	div.contacts {
		width:250px;
	}
}

@media only screen and (max-width: 320px) {
			
	/*Locations*/
	div.location {
		width:260px;
	}

	div#map img {
		width:90%;
	}
	
	div.open {
		width:240px;
	}
	
	div.contacts {
		width:230px;
	}

	/*Contact*/	
	
	form div.wwlbl {
	}

	form div.wwctrl input {
		width:95%;
	}

	div textarea {
		width:95%;
	}
		
	/*Reservation*/
	div.impression {
		margin-left: 15px;
		margin-right:15px;
	}
}















