@charset "utf-8";
/* CSS Document */

/*Features*/
div#features {
	margin-bottom: 30px;
}

div#features h5, p {
	clear: both;
}

div#features img {
	float: left;
	height: auto;
	width: 31.3%;
	margin: 1%;
	margin-top:20px;
}

div#features img.distance {
	margin-bottom: 40px;
}

/*Partner*/
#partners p {
	clear: both;
	margin-left:250px;
}

.partner {
	position: relative;
	min-height: 100px;
	margin-bottom: 70px;
}

.partner img {
	position: absolute;
	width: 200px;
	padding: 15px;
	padding-left: 0px;
}

/*Locations*/
div.locations {
	margin-left: auto;
	margin-right: auto;
	margin-bottom:20px;
	padding-top: 20px;
}

div.locations.color1 {
	background-color: #cdcdcd;
}

div.locations.color2 {
	background-color:#dcdcdc;
}

div.locations h4 {
	color: #343333;
}

div.locations h5 {
	margin-top: 0px;
	padding-left: 0px;
}

div.locations hr {
	opacity: 0;
}

div.location {
	float: left;
	min-height: 260px;
	width:300px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

div#map {
	float: left;
	height: 245px;
	width: 230px;
	margin-bottom: 10px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 55px;
	padding-bottom: 10px;
}

div#map img {
	float:left;
	padding:5px;
	border: 2px solid #a9a9a9;
	background-color: #ffffff;
	z-index: 9;
}

div.open {
	float: left;
	min-height: 250px;
	width:270px;
	margin-bottom:10px;
	padding-top:10px;
	padding-left: 30px;
	padding-bottom: 10px;
}

div.open th {
	padding-bottom: 7px;
	font-size: 14px;	
	color: #343333;
}

div.open tr,td {
	padding:5px;
	padding-left: 0px;
}

div.contacts {
	float: left;
	min-height: 250px;
	width:270px;
	margin-bottom:10px;
	padding-top:10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}

div.contacts th {
	padding-bottom: 7px;
	font-size: 14px;	
	color: #343333;
}

div.contacts td {
	padding:2px 0px;
}

div.contacts img {
	height:25px;
	width:25px;
}

/*Impressum*/
div#impressum {
	margin-top: 10px;
	margin-bottom: 15px;
}

div#impressum  img {
	height:25px;
	width: auto;
	margin-right: 15px;
}

/*Contact und Reservation*/

.formular {
	padding-top: 15px;
	background-color: #dcdcdc;
}

form {
	position: relative;
	min-height:800px;
	margin-bottom: 40px;
}

form h6 {
	margin-bottom: 20px;
}

form div.wwlbl {
	height: 5px;
	width: 300px;
	margin-top: 10px;
	margin-left: 15px;
}

form div.wwctrl input {
	height: 13px;
	width:310px;
	margin-left:10px;
	margin-bottom:15px; 
	padding:2px;
}

div textarea {
	min-height: 300px;
	width:90%;
	margin-left:10px; 
	margin-bottom:30px;
}

button {
	height:30px;
	width: 210px;
	margin-left:15px;
	margin-bottom:20px;; 
	padding:2px;

}

/*Reservation*/

#wwgrp_check_title-female{
	margin-top:40px;
	margin-bottom:40px;
}

#wwgrp_check_title-female input {
	position: absolute;
	margin-top: -6px;
	margin-left: 70px;
}

#wwgrp_check_title-male{
	margin-bottom:40px;
}

#wwgrp_check_title-male input {
	position: absolute;
	margin-top: -6px;
	margin-left: 70px;
}

.dates { 
	padding-left: 15px;
}

.dates select { 
	height: 30px;
	width: 70px;
}


@media only screen and (max-width: 1700px) {
	
	/*Locations*/
	div.location {
		width:270px;
	}
	
	div#map {
		width: 220px;
	}

	div#map img {
		height: 220px;
		width: 230px;
	}
	
	div.open {	
		width:245px;
	}
	
	div.contacts {	
		width:240px;
	}

}

@media only screen and (max-width: 1600px) {
	
	/*Locations*/
	div.location {
		width:260px;
	}
	
	div#map {
		width: 230px;
	}
	
	div.open {	
		width:230px;
	}
	
	div.contacts {	
		width:230px;
	}

}

@media only screen and (max-width: 1500px) {
	
	/*Locations*/
	div.location {
		width:240px;
	}
	
	div#map {
		width: 210px;
	}
	
	div.open {	
		width:230px;
	}
	
	div.contacts {	
		width:230px;
	}

}

@media only screen and (max-width: 1450px) {
	
	/*Locations*/
	div.location {
		width:220px;
	}
	
	div#map {
		width: 200px;
	}
	
	div.open {	
		width:225px;
	}
	
	div.contacts {	
		width:220px;
	}

}

@media only screen and (max-width: 1400px) {
	
	/*Locations*/
	div.location {
		width:200px;
	}
	
	div#map {
		width: 190px;
	}

	div#map img {
		width: 220px;
	}
	
	div.open {	
		width:215px;
	}
	
	div.contacts {	
		width:210px;
	}

}

@media only screen and (max-width: 1320px) {
	
	/*Locations*/
	div.location {
		width:190px;
	}
	
	div#map {
		width: 180px;
	}
	
	div.open {	
		width:215px;
	}
	
	div.contacts {	
		width:210px;
	}

}

@media only screen and (max-width: 1290px) {
	
	/*Locations*/
	div.location {
		width:330px;
	}
	
	div#map {
		width: 280px;
	}

	div#map img {
		height: 220px;
		width: 270px;
	}
	
	div.open {	
	clear: both;
	float: left;
	width:310px;
	padding-left:20px;
	}
	
	div.contacts {	
		width:320px;
	}

}


@media only screen and (max-width:820px) {

	/*Locations*/
	div.location {
		width:300px;
	}
	
	div#map {
		width: 260px;
	}
	
	div.open {	
		width:280px;
	}

	
	div.contacts {
		width:300px;
	}

}

@media only screen and (max-width: 768px) {
	
	/*Locations*/

			
	/*Contact*/
	div textarea {
		width:95%;
	}
	
	/*Impressum*/	
	div#impressum_pic {
		margin-left: -10;
	}
}


@media only screen and (max-width: 700px) {
	
	/*Locations*/
	div.location {
		width:300px;
	}
	
	div#map {
		width: 230px;
	}
	
	div#map img {
		height: 220px;
		width: 260px;
	}
	
	div.open {	
		width:280px;
	}

	
	div.contacts {
		width:270px;
	}
	
}

@media only screen and (max-width: 660px) {
	
	/*Locations*/
	div.location {
		width:270px;
	}
	
	div#map {
		width: 220px;
	}
	
	div#map img {
		height: 220px;
		width: 260px;
	}
	
	div.open {	
		width:250px;
	}
	
	div.contacts {
		width:260px;
	}
	
}

@media only screen and (max-width: 640px) {
	
	/*Locations*/
	div.location {
		width:270px;
	}
	
	div#map {
		width: 200px;
	}
	
	div#map img {
		height: 220px;
		width: 220px;
	}
	
	div.open {	
		width:250px;
	}

	
	div.contacts {
		width:240px;
	}
}

@media only screen and (max-width: 618px) {
	
	/*Locations*/
	div.location {
		width:250px;
	}
	
	div#map {
		width: 200px;
	}
	
	div#map img {
		height: 220px;
		width: 220px;
	}
	
	div.open {	
		width:230px;
	}

	
	div.contacts {
		width:240px;
	}
			
	/*Contact*/
	div textarea {
		width:95%;
	}
	
	/*Impressum*/	
	div#impressum_pic {
		margin-left: -10;
	}
}

@media only screen and (max-width: 580px) {
	
	/*Features*/
	div#features img {
		width: 98%;
		margin:1%;
	}
	
	/*Partner*/
	#partners p {
		clear: both;
		float: left;
		margin-left: 2px;
	}

	.partner img {
		float: left;
		margin-top: -10px;
		margin-left: 2px;
	}	
	
	.distance_top1 {
		margin-top: 70px;
	}
	
	/*Locations*/
	div.location {
		min-height:150px;
		width:400px;
		margin-bottom: 5px;
	}
	
	div#map {
		width:330px;
		margin-bottom: 5px;
	}
	
	div#map img {
		height: 220px;
		width:300px;
	}
	
	div.open {
		width:380px;
		margin-bottom: 5px;
	}
	
	div.contacts {
		width:370px;
		margin-bottom: 5px;
	}
		
	/*Contact*/	
	form div.wwctrl input {
		width:85%;
	}
	
	/*Impressum*/	
	div#impressum_pic {
		margin-left: -10;
	}
}

@media only screen and (max-width: 450px) {
			
	/*Locations*/
	div.location {
		width:280px;
	}
	
	div#map {
		clear: both;
		width: 270px;
	}

	div#map img {
		width: 220px;
	}
	
	div.open {
		width:260px;
	}
	
	div.contacts {
		width:250px;
	}…
}

@media only screen and (max-width: 320px) {
			
	/*Locations*/
	div.location {
		width:260px;
	}
	
	div#map {
		clear: both;
		width: 250px;
	}
	
	div.open {
		width:240px;
	}
	
	div.contacts {
		width:230px;
	}

	/*Contact*/	
	form div.wwlbl {
		margin-left: 5px;
	}

	form div.wwctrl input {
		width:95%;
		margin-left:0px;
	}

	div textarea {
		width:95%;
		margin-left:0px;
	}
}















