<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0"> 

  <display-name>TIV-Page Shariff Application</display-name>


  <servlet>
    <servlet-name>shariff</servlet-name>
    <servlet-class>org.shredzone.shariff.ShariffServlet</servlet-class>
    <init-param>
      <param-name>targets</param-name>
      <param-value>addthis,facebook,flattr,linkedin,pinterest,reddit,stumbleupon,vk,xing</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>shariff</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>

  <error-page>
    <error-code>400</error-code>
    <location>/error/error_400.jsp</location>
  </error-page>

  <error-page>
    <error-code>404</error-code>
    <location>/error/error_404.jsp</location>
  </error-page>

</web-app>